[Unit]
Description=Backup Daemon Service
Wants=backupd.timer

[Service]
EnvironmentFile=/etc/default/backupd.conf
Type=simple
ExecStart=/usr/local/bin/backupd_run "${SOURCE}" "${TARGET}"
Restart=on-failure
## Защита системных файлов
User=user
Group=user

[Install]
WantedBy=multi-user.target
