[Unit]
# Читаемое имя для юнита
Description=Backup Daemon Service
# Подключаем таймер
Wants=backupd.timer
# Зависимости
#  After=...

[Service]
# Единовременный запуск по таймеру
Type=simple
# Путь к исполняемому файлу
ExecStart=/usr/local/bin/backupd
# Перезапуск при ошибке
Restart=on-failure
User=root
Group=root

[Install]
# Стандартная активация в системе
WantedBy=multi-user.target
