
# [Unit]
# Description=Backup Daemon Service

# [Service]
# # симпл-димпл:
# Type=simple
# # это путь, куда положить собранный из main.cpp бинарник, правильно?
# # а куда его лучше положить? например:
# # /etc/backupd/main ?
# ExecStart=/path/to/your/backupd_executable
# # на что влияет:
# Restart=always
# # пускай будет руут
# User=root
# # на данный момент здесь только config.yaml:
# WorkingDirectory=/etc/backupd

# [Install]
# # чето очень жесткое
# WantedBy=multi-user.target
